[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
xarray = "*"
pyarrow = "*"
lxml = "*"
kernelspecs = "*"

[requires]
python_version = "3.8"
